<div class="container">

  <div class="row mt-5">
    <h1 class="text text-center mb-5 text-light">XSQL</h1>

    <!--navbar-->
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

      <button (click)="getName()" type="button" class="btn btn-outline-success me-3">
        Nuevo
      </button>

      <button type="button" class="btn btn-outline-primary me-3" (click)="download()">
        Guardar como
      </button>
      <button type="button" class="btn btn-outline-primary me-3" (click)="openDialog()">
        Determinar BD
      </button>
      <button type="button" class="btn btn-outline-primary me-3" (click)="generarDump()">
        Generar Dump
      </button>
      <button type="button" class="btn btn-outline-primary me-3" (click)="expotarInserts()">
        Exportar
      </button>
      <div class="mb-3 mt-3 me-3">
        <input (change)="uploadFile($event)" class="form-control form-control-sm" type="file" id="formFile" accept=".sql"
          multiple />
      </div>

      <button (click)="readFile()" type="button" class="btn btn-outline-primary me-2">
        Leer
      </button>

    </nav>


    <div class="row">

      <!--BASES DE DATOS -->
      <div class="col-auto mt-5">

        <h5 class="text-light">Bases de datos</h5>
        <app-data-bases></app-data-bases>
      </div>


       <!-- RESTO DE COMPONENTES  -->
      <div class="col-9 mt-5">

        <!-- CERRAR PESTAÑA  -->
        <button (click)="closeActualEditor()" type="button" class="btn btn-outline-danger mb-4  ">
          Cerrar pestaña actual
        </button>

         <!--TABS -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <ng-template tabHost></ng-template>
        </ul>

         <!--EDITORES DE CODIGO  -->
        <div class="tab-content" id="myTabContent">
          <ng-template editorHost></ng-template>
        </div>

        <div>

          <div class="d-flex justify-content-center mt-2">
            <button (click)="onCompile()" type="button" class="btn btn-outline-warning me-1 mt-2 text-center">
              Ejecutar
            </button>
            @if (currentDot) {
              <button type="button" class="btn btn-outline-primary ms-3 mt-2 text-center" (click)="onGetImage()">
                AST
              </button>
            }
            @if (currentTac) {
              <button type="button" class="btn btn-outline-success ms-3 mt-2 text-center" (click)="onGetTac()">
                C3D
              </button>
            }
          </div>

        </div>

        <hr class="dropdown-divider">

        <div class="d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col">
              <h2 class="text-light">Consola</h2>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <ngx-codemirror [options]="codeMirrorOptions" [(ngModel)]="contentLogger" #logger>
              </ngx-codemirror>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-light" (click)="clearLogger()">
                Limpiar
              </button>
            </div>
          </div>
        </div>


    </div>

  </div>

</div>

<!-- <div
  class="mt-2 container-sm d-flex flex-column align-items-center justify-content-center border border-primary rounded"
>
  <h1 class="mb-3">Resultados</h1>
  <button type="button" class="btn btn-warning m-2" (click)="clearResults()">
    Limpiar
  </button>
  <ng-template resultHost></ng-template>
</div> -->
